# service libs
#
Flask==0.12.2
Flask-MongoAlchemy==0.7.2
Flask-Cors==3.0.3
flask-restplus==0.9.2

# gunicorn==19.7.1
gunicorn==19.4.5

# testing libs
# 
urllib3==1.22
flake8==3.4.1
pylint==1.7.2
pep8==1.7.0